.signup-wrapper {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5rem;
}

.signup-title {
    font-size: 2rem;
    margin-bottom: 1.5rem;
    text-shadow: 0 0 10px rgb(76, 43, 122);
}

.signup-form {
    display: flex;
    flex-direction: column;
    width: 300px;
    gap: 1rem;
}

.signup-input {
    padding: 0.75rem;
    background: #111;
    border: none;
    opacity: 0.6;
    color: #fff;
    font-size: 1rem;
    border-radius: 4px;
    outline: none;
    box-shadow: #31144e 0 0 10px;
    transition: all 0.3 ease;
}

.signup-input:hover {
    transform: scale(1.05);
}

.signup-button {
    padding: 0.75rem;
    font-size: 1rem;
    background: none;
    color: #ffffff;
    font-weight: bold;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    transition: background 0.3s ease;
}

.signup-button:hover {
    background: #4b248e;
    box-shadow: #aea1b6 0 0 10px;
}

.signup-error {
    color: rgb(102, 7, 7);
    margin-top: 1rem;
}

.signup-login {
    margin-top: 1rem;
    font-size: 0.9rem;
}

.switch-to-login {
    background: none;
    border: none;
    color: #4b248e;
    cursor: pointer;
    font-weight: bold;
    margin-left: 0.5rem;
    padding: 8px;
}

.switch-to-login:hover {
    background-color: #ffffff;
    box-shadow: #4b248e 0 0 10px;
}